.error_message {
  display: flex;
  color: white;
  background: red;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.6rem;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
