{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [
    "@typescript-eslint",
    "json",
    "prettier",
    "import",
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "semi": "warn",
    "quotes": [2, "double"],
    "no-use-before-define": "off",
    "require-await": "warn",
    "consistent-return": "warn",
    "no-param-reassign": "warn",
    "no-return-assign": "warn",
    "no-var": "warn",
    "no-console": "warn",
    "no-alert": "error",
    "max-len": [
      "warn",
      {
        "code": 120,
        "tabWidth": 2,
        "comments": 1000,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],

    //TS
    "@typescript-eslint/no-use-before-define": "warn",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "warn",
    "no-loop-func": "off",
    "@typescript-eslint/no-loop-func": ["warn"],

    //React
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "react/destructuring-assignment": "warn",
    "react/no-array-index-key": "warn",
    "react/react-in-jsx-scope": "off",
    "react/prefer-stateless-function": "warn",
    "react/jsx-props-no-spreading": "off",

    //import  ???
    "import/no-extraneous-dependencies": "warn",
    "import/extensions": "off"
  }
}
