//======================================================================================
//DELETE__CATEGORIES\\
//======================================================================================

.delete_block {
  padding: 50px;
  // width: 100%;

  i {
    text-align: center;
    font-size: 0.7rem;
    display: block;
    margin-top: 5px;
  }

  .block_title {
    text-align: center;
  }

  .delete_list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;

    .list_item {
      border: 1px solid black;
      font-size: 0.7rem;
      padding: 12px;
      cursor: pointer;
      margin: 10px;
      position: relative;
      min-width: 75px;
      text-align: center;

      &_delete_icon {
        display: none;
        position: absolute;
        top: 10px;
        left: 40%;
        color: red;
      }

      &:hover {
        border: 1px solid red;
        opacity: 0.7;
        transition: 0.4s linear;

        .list_item_delete_icon {
          display: block;
        }
      }
    }
  }

  .spinner_delete {
    display: flex;
    justify-content: center;
  }
}

// .delete-animate {
// }

//======================================================================================
//DELETE__CATEGORIES//
//======================================================================================

//======================================================================================
//UPDATE__CATEGORIES//
//======================================================================================
.update_block {
  padding: 50px;

  .update_block_title {
    text-align: center;
  }

  .update_list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;

    &_item {
      border-bottom: 1px solid black;
      font-size: 0.7rem;
      padding: 10px;
      cursor: pointer;
      margin: 10px;
      position: relative;
      min-width: 75px;
      text-align: center;

      &_icon {
        display: none;
        position: absolute;
        top: 10px;
        left: 40%;
        color: green;
      }

      &:hover {
        border: 1px solid greenyellow;
        opacity: 0.7;
        transition: 0.4s linear;

        .update_list_item_icon {
          display: block;
        }
      }
    }
  }

  .update_block_new_name {
    text-align: center;

    span {
      font-size: 0.85rem;
      margin-right: 30px;
    }

    input {
      border: 1px solid black;
      font-size: 0.75rem;
      padding: 7px;
    }
  }

  .update_block_button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.7rem;
    border: 1px solid black;

    &:hover {
      border: 1px solid green;
      transition: 0.4s linear;
    }
  }

  .spinner_update {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
//======================================================================================
//UPDATE__CATEGORIES//
//======================================================================================

//======================================================================================
//COLORS__CATEGORIES//
//======================================================================================

.crete_categories_colors {
  margin-right: 25px;
  display: flex;
  list-style-type: none;
  justify-content: center;

  &_name {
    margin-top: 9px;
    margin-right: 10px;
  }

  .crete_categories_color_item {
    width: 25px;
    height: 25px;
    font-size: 0;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: 0.3s linear;
  }

  .crete_categories_color_item:hover {
    opacity: 0.5;
  }

  .crete_categories_color_item.active {
    transform: translateY(-10px);
    transition: 0.5 linear;
  }
}

//======================================================================================
//COLORS__CATEGORIES//
//======================================================================================

//======================================================================================
//CREATE__CATEGORIES//
//======================================================================================

.crete_categories {
  // box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 50px;

  h3 {
    text-align: center;
  }

  &_input_group {
    margin-top: 20px;
    padding: 10px;
    text-align: center;

    input {
      height: 20px;
      width: 45%;
      font-size: 0.8rem;
      border: 1px solid lightblue;
      padding: 10px;
      border-radius: 10px;
      height: 40px;
      text-align: center;
    }
  }

  .create_button {
    padding: 7px;
    cursor: pointer;
    border: none;
    background-color: green;
    border-radius: 5px;
    font-size: 0.8rem;
    margin: 0 auto;
    display: block;
    width: 150px;
    max-width: 150px;

    &:hover {
      opacity: 0.5;
    }
  }
}
//======================================================================================
//CREATE__CATEGORIES//
//======================================================================================
