//======================================================================================
//DELETE__CATEGORIES\\
//======================================================================================

.delete-block {
  padding: 50px;

  i {
    text-align: center;
    font-size: 0.7rem;
    display: block;
    margin-top: 5px;
  }

  .block-title {
    text-align: center;
  }

  .delete-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

    .list-item {
      border: 1px solid black;
      font-size: 0.7rem;
      padding: 12px;
      cursor: pointer;
      margin: 10px;
      position: relative;

      &-delete-icon {
        display: none;
        position: absolute;
        top: 10px;
        left: 40%;
        color: red;
      }

      &:hover {
        border: 1px solid red;
        opacity: 0.7;
        transition: 0.4s linear;

        .list-item-delete-icon {
          display: block;
        }
      }
    }
  }
}

// .delete-animate {
// }

//======================================================================================
//DELETE__CATEGORIES//
//======================================================================================

//======================================================================================
//UPDATE__CATEGORIES//
//======================================================================================
.update-block {
  padding: 50px;

  .update-block-title {
    text-align: center;
  }

  .update-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

    &-item {
      border-bottom: 1px solid black;
      font-size: 0.7rem;
      padding: 10px;
      cursor: pointer;
      margin: 10px;
      position: relative;

      &-icon {
        display: none;
        position: absolute;
        top: 10px;
        left: 40%;
        color: green;
      }

      &:hover {
        border: 1px solid greenyellow;
        opacity: 0.7;
        transition: 0.4s linear;

        .update-list-item-icon {
          display: block;
        }
      }
    }
  }

  .update-block-new-name {
    text-align: center;

    span {
      font-size: 0.85rem;
      margin-right: 30px;
    }

    input {
      border: 1px solid black;
      font-size: 0.75rem;
      padding: 7px;
    }
  }

  .update-block-button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.7rem;
    border: 1px solid black;

    &:hover {
      border: 1px solid green;
      transition: 0.4s linear;
    }
  }
}
//======================================================================================
//UPDATE__CATEGORIES//
//======================================================================================
