@import "./../../scss/variables";

* {
  box-sizing: border-box;
  font-size: $defaultFontSize;
}

.calendarContainer {
  width: 48%;
  height: 100vh;
  color: #eee;
  margin-top: 40px;
  h4 {
    margin-bottom: 40px;
    text-align: center;
    color: black;
  }

  .calendar {
    max-width: 500px;
    height: 600px;
    background-color: $calendarBackground;
    box-shadow: 0 0.8px 48px $calendarBackgroundShadow;
    .month {
      width: 100%;
      height: 100px;
      background-color: $calendarMonthBackground;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 12px;
      text-align: center;
      text-shadow: 0 5px 8px $calendarBodyBackgroundShadow;
      & i {
        font-size: 1rem;
        cursor: pointer;
      }
      & h1 {
        font-size: 0.9rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 4px;
        margin-top: 4px;
      }
      & p {
        font-size: 0.7rem;
      }
    }
    .weekdays {
      width: 100%;
      height: 3rem;
      padding: 0 0.4px;
      display: flex;
      align-items: center;

      & div {
        font-size: 0.8rem;
        font-size: 400;
        letter-spacing: 1px;
        color: black;
        width: calc(450px / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 4px 8px $calendarBodyBackgroundShadow;
      }
    }
    .days {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 2px;
    }
    .days div {
      font-size: 0.8rem;
      margin: 3px;
      width: calc(400px / 7);
      height: 75px;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 4px 8px $calendarBodyBackgroundShadow;
      transition: background-color 0.2s;
    }
    .days div:hover:not(.today) {
      background: $calendarHoverBackground;
      border: 3px solid $dark-gray;
      cursor: pointer;
    }
  }
  .prev-date,
  .next-date {
    opacity: 0.5;
  }

  .today {
    background-color: $calendarMonthBackground;
  }
}
