@import "./../../scss/variables";
@import "./../../scss/mixins";

.calendar__container {
  width: 100%;
  height: 100vh;
  color: $calendarColorDaysAndText;
  margin: 40px auto;

  .calendar {
    max-width: 25rem;
    height: 32.25rem;
    background-color: $calendarBackground;
    box-shadow: 0 0.8px 48px $calendarBackgroundShadow;
    margin: 0 auto;

    @include breakpoint(xs) {
      max-width: 20rem;
    }

    .month {
      width: 100%;
      height: 100px;
      background-color: $calendarMonthBackground;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.6rem;
      text-align: center;
      text-shadow: 0 5px 8px $calendarBodyBackgroundShadow;

      & i {
        font-size: 1rem;
        cursor: pointer;
      }

      & h1 {
        font-size: 0.9rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 0.2rem;
        margin-top: 0.2rem;
      }

      & p {
        font-size: 0.7rem;
      }
    }

    .weekdays {
      width: 100%;
      height: 3rem;
      padding: 0 0.4px;
      display: flex;
      align-items: center;

      & div {
        font-size: 0.8rem;
        font-size: 400;
        letter-spacing: 1px;
        color: $calendarColorDays;
        width: calc(25rem / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 4px 8px $calendarBodyBackgroundShadow;
      }
    }

    .days {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0.1rem;

      &_not_this_month {
        opacity: 0.5;
        pointer-events: none;

        span {
          font-size: 0.9rem;
        }
      }
    }

    .days div {
      font-size: 0.8rem;
      margin: 0.15rem;
      width: calc(22.5rem / 7);
      height: 3.75rem;
      color: $calendarColorDaysAndText;
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 4px 8px $calendarBodyBackgroundShadow;
      transition: background-color 0.2s;
      @include breakpoint(xs) {
        width: calc(21rem / 7);
        height: 2.75rem;
      }
    }

    .days div:hover:not(.today) {
      background: $calendarHoverBackground;
      border: 3px solid $dark-gray;
      cursor: pointer;
    }
  }

  .prev-date,
  .next-date {
    opacity: 0.5;
  }

  .today {
    background-color: $calendarMonthBackground;
  }
}

.info_day {
  &_title {
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
  }

  &_list {
    padding: 1rem;
    font-size: 0.8rem;
  }

  &_item {
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.5rem;

    /* stylelint-disable-next-line no-descending-specificity */
    span {
      margin-right: 0.75rem;
    }
  }
}

.empty_list {
  text-align: center;
  display: block;
  font-size: 0.9rem;
}
