@import "../../../scss/mixins";

.item {
  background-color: #120608;
  border-radius: 10px;
  position: relative;
  height: 3rem;
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-left: 20px;

  &_time {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  &_current_tasks {
    margin-left: 1rem;
    margin-top: 11px;
    position: relative;
    width: 80%;
    font-size: 0.8rem;

    @include breakpoint(sm) {
      width: 95%;
    }
  }

  &_block {
    @include breakpoint(sm) {
      display: none;
    }

    &_buttons {
      display: flex;
      align-items: center;

      @include breakpoint(sm) {
        left: -85px;
        top: 0;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        background-color: black;
      }

      /* stylelint-disable-next-line no-descending-specificity */
      & button {
        border: none;
        background-color: transparent;
        font-size: 0.6rem;
        transition: 0.2s linear;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &_circle {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: 0%;
    left: 0;
    border-radius: 20px;
    opacity: 0.8;
  }
}

.mobile_menu {
  display: none;
  position: relative;

  @include breakpoint(sm) {
    display: block;
  }

  &_ellipsis_v {
    border: none;
    background: transparent;

    &_icon {
      font-size: 1rem;
    }
  }
}

.update_input {
  width: 680px;
  max-width: 680px;
  align-items: center;

  @include breakpoint(sm) {
    width: auto;
    width: 100%;
    z-index: 3;
  }

  &_inp {
    font-size: 0.7rem;
    padding: 7px;
    width: 80%;
    border: none;
  }

  &_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid green;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.6rem;
    margin-left: 10px;

    &:hover {
      opacity: 0.7;
    }
  }
}

.ready {
  font-family: cursive;
  color: green;
  position: absolute;
  left: 50%;
  font-size: 1.2rem;
  font-weight: 900;
  z-index: 2;
}

.not_ready {
  font-family: cursive;
  color: red;
  position: absolute;
  left: 50%;
  font-size: 1.5rem;
  font-weight: 900;
  z-index: 2;
}
