@import "../../../scss/variables";
@import "../../../scss/mixins";

@keyframes render {
  0% {
    stroke-dasharray: 0 100;
  }
}

.progress {
  display: flex;
  align-items: center;

  @include breakpoint(sm) {
    justify-content: center;
  }

  &__circle {
    width: 150px;
    height: 150px;

    @include breakpoint(lg) {
      width: 120px;
      height: 120px;
    }

    &__arc {
      fill: none;
      stroke-width: 3;
      cursor: pointer;
      animation-name: render;
      animation-duration: 1.5s;
      transition-property: all;
      transition-duration: 1.5s;
    }

    &__arc:hover,
    .hovered {
      opacity: 0.8;
    }

    &__arc:nth-child(1) {
      stroke: $green;
    }

    &__arc:nth-child(2) {
      stroke: $red;
      stroke-dashoffset: -33;
    }
  }
}

.info {
  max-width: 260px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    margin: 1rem 0;
    padding-left: 1.5rem;
    font-size: 0.7rem;
  }

  .percentage__progress {
    font-size: 0.7rem;
    padding: 5px;
    width: 60px;
    display: inline-block;

    &_green {
      color: $red;
    }

    &_red {
      color: $green;
    }
  }
}
