@import "../../../scss/mixins";

$fg: #f90000f7;

$menu-items: 4;
$open-distance: 105px;

%ball {
  background: $fg;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  position: absolute;
  color: white;
  text-align: center;
  transition: transform ease-out 200ms;
  z-index: 11;
}

.menu-open {
  display: none;
}

.hamburger {
  $width: 13px;
  $height: 2px;

  width: $width;
  height: $height;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width / 2;
  margin-top: -$height / 2;
  transition: transform 200ms;
}
$hamburger-spacing: 5px;

.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}

.menu-open:checked + .menu-open-button {
  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }

  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}

.menu {
  display: none;
  width: 30px;
  height: 30px;
  @include breakpoint(lg) {
    display: block;
  }
}

.menu-item {
  @extend %ball;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;

  &:hover {
    background: transparent;
    color: $fg;
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 180ms;
    }
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.menu-open-button {
  @extend %ball;

  z-index: 222;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

/* stylelint-disable-next-line no-descending-specificity */
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

/* stylelint-disable-next-line no-duplicate-selectors */
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 90ms + (100ms * $i);
      transform: translate3d(0, 36px * $i, 0);
    }
  }
}
