// section {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background: #042104;
// }

// section .container {
//   display: flex;
// }

$colorCircle: #00ff0a;

.loader_circle {
  margin: 200px 300px;
  display: block;
  position: relative;

  .circle-text {
    position: absolute;
    top: 60px;
    left: 25px;
  }

  .circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -10px;

    & span {
      $items: 20;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @for $i from 1 through $items {
        &:nth-child(#{$i + 0}) {
          transform: rotate(18deg * $i);
        }
      }

      /* 360 / 20 = 18deg */

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: calc(50% - 7.5px);
        width: 15px;
        height: 15px;
        background: $colorCircle;
        border-radius: 50%;
        box-shadow: 0 0 10px $colorCircle, 0 0 20px $colorCircle, 0 0 40px $colorCircle,
          0 0 60px $colorCircle, 0 0 80px $colorCircle, 0 0 100px $colorCircle;
        transform: scale(0.1);
        animation: animate 4s linear infinite;
      }
      @keyframes animate {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(0.1);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }
}
