.progress {
  display: flex;
  margin-top: 40px;
  width: 100%;

  & section {
    width: 50%;
  }
}

.tasks-for-day {
  width: 90%;
  margin: 40px auto;

  h3 {
    text-align: center;
  }

  .tasks-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;

    &-item {
      span {
        margin-top: 10px;
        font-size: 0.9rem;
      }

      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      padding: 15px;

      &-current-tasks {
        margin-left: 20px;
        margin-top: 11px;
        position: relative;
        width: 85%;
        font-size: 0.8rem;
      }

      &-update-input {
        width: 680px;
        max-width: 680px;

        input {
          font-size: 0.8rem;
          padding: 10px;
          width: 80%;
          // border: 1px solid black;
          border: none;
        }

        button {
          display: inline-block;
          border: none;
          cursor: pointer;
          font-size: 0.7rem;

          &:hover {
            color: greenyellow;
          }
        }
      }

      &-buttons {
        display: flex;

        & button {
          border: none;
          background-color: transparent;
          font-size: 0.6rem;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.create-task-categories-buttons {
  text-align: center;

  .plus-btn {
    border: 1px solid green;
  }

  .minus-btn {
    border: 1px solid red;
  }

  .plus,
  .minus {
    margin-right: 5px;
  }

  .create-task-categories-btns {
    margin: 0 20px;
    padding: 10px 20px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 0.6rem;
    letter-spacing: 1px;
    background: transparent;
    cursor: pointer;
    color: #242121;

    &:hover {
      opacity: 0.7;
    }
  }
}
