@import "../../scss/variables";
@import "../../scss/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_title {
    font-weight: 300;
    font-size: 1rem;
  }

  .header_subtitle {
    font-size: 0.7rem;
    letter-spacing: 1px;

    &_tasks_count {
      font-size: 0.8rem;
      color: $fontColor;
    }
  }

  &_time {
    font-size: 0.9rem;
    letter-spacing: 1px;

    span {
      font-size: inherit;
    }
  }
}

/* ----------------------------*\
	<NAV_COMPONENT>
\*---------------------------- */
.nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-size: $fontSizeLink;
    color: $fontColor;
    transition: 0.3s linear;
  }

  a:hover {
    color: $important;
  }
  @include breakpoint(lg) {
    display: none;
    visibility: hidden;
  }
}

/* ----------------------------*\
	</NAV_COMPONENT>
\*---------------------------- */
