@import "../../scss/mixins";

.time_line {
  display: inline-block;
  border-right: 5px solid red;
  position: relative;
  opacity: 0.8;
  @include breakpoint(lg) {
    border-right: 4px solid red;
  }

  @include breakpoint(sm) {
    display: none;
  }

  &_current_time {
    position: absolute;
    left: -80px;
    width: 120px;
    transition: 1s linear;
    height: 0;
    border: 2px solid red;
    border-right: 5px solid red;

    @include breakpoint(lg) {
      width: 100px;
      left: -70px;

      div {
        font-size: 0.8rem;
      }
    }
    @include breakpoint(lg) {
      width: 83px;
      left: -60px;

      div {
        font-size: 0.8rem;
      }
    }
  }

  &_hours {
    width: 10px;
    position: relative;

    &_hour {
      position: absolute;
      left: -20px;
      top: -4px;
      @include breakpoint(lg) {
        font-size: 0.8rem;
      }
    }

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      display: block;
      background-color: red;
      border-radius: 50%;
      position: absolute;
      left: 5px;
      @include breakpoint(lg) {
        width: 12px;
        height: 12px;
        left: 6px;
      }
    }
  }
}
