@import "../../../scss/mixins";

.progress__column {
  @include breakpoint(sm) {
    display: none;
  }

  & h1 {
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 1.3rem;
    font-size: 1rem;
  }
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 100px;

  b {
    margin-top: 3rem;
    font-size: 0.7rem;
    color: gray;
  }

  &__item {
    height: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    transition: 0.5s linear;

    &__column {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-left: 5px;

      span {
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }
}
