.progress_column {
  padding-bottom: 40px;
  & h5 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &-block {
    height: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    &-column {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      span {
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        animation: app 3s 1;
      }
    }
  }
  // &-block:first-child &-block-column {
  //   // background: #0cf2f2;
  //   // height: calc(100% / 100 * 15); //85%
  //   animation: childOne 2s 1;
  // }

  // @keyframes childOne {
  //   0% {
  //     height: 0;
  //   }
  //   20% {
  //     height: 0;
  //   }
  //   100% {
  //     height: calc(100% / 100 * 85); //85%
  //   }
  // }
  // @keyframes childTwo {
  //   0% {
  //     height: 0;
  //   }
  //   20% {
  //     height: 0;
  //   }
  //   100% {
  //     height: calc(100% / 100 * 25); //25%
  //   }
  // }
  // @keyframes childThree {
  //   0% {
  //     height: 0;
  //   }
  //   20% {
  //     height: 0;
  //   }
  //   100% {
  //     height: calc(100% / 100 * 45); //45%
  //   }
  // }
  // @keyframes childFour {
  //   0% {
  //     height: 0;
  //   }
  //   20% {
  //     height: 0;
  //   }
  //   100% {
  //     height: calc(100% / 100 * 5); //5%
  //   }
  // }
  // @keyframes app {
  //   0% {
  //     opacity: 0;
  //   }
  //   50% {
  //     opacity: 0.4;
  //   }
  //   100% {
  //     opacity: 1;
  //   }
  // }
}
