.add-tasks {
  h4 {
    text-align: center;
    margin-top: 20px;
  }

  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &-text {
    border: 1px solid black;
    margin-top: 20px;
    width: 80%;
    font-size: 0.7rem;
    padding: 10px;
    border-radius: 3px;
  }

  .data-input-group {
    border-bottom: 1px solid lightgray;
    margin-top: 25px;
    width: 80%;

    &-date {
      width: 50%;
      height: 30px;
      font-size: 0.7rem;
      text-align: center;
      border: none;
      display: inline-block;
    }

    &-separator {
      margin-left: 5px;
    }

    &-time {
      display: inline-block;
      width: 40%;
      margin-left: 5px;

      input {
        display: inline-block;
        width: 45%;
        border: none;
        height: 30px;
        padding: 10px;
        margin-left: 5px;
        font-size: 0.7rem;
      }
    }
  }
}

.create-buttons {
  display: flex;
}

.categories-buttons-list {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  button {
    margin-right: 15px;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 0.7rem;
    font-weight: 400;

    &:hover {
      opacity: 0.5;
    }
  }
}
