//==================================================
//Add-Tasks
//==================================================
@import "../../scss/variables";

.add_tasks {
  h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: "Roboto sans-serif";
  }

  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  &_text {
    margin: 0.75rem auto;
    margin-top: 1rem;
    width: 80%;
    font-size: 0.7rem;
    padding: 0.5rem;
    border-radius: 3px;
    text-align: center;
  }

  .data_input_group {
    margin-top: 0.5rem;
    border-bottom: 1px solid #32393c;
    width: 80%;
    display: flex;

    &_date {
      width: 50%;
      height: 1.6rem;
      font-size: 0.7rem;
      text-align: center;
      display: inline-block;
      border: none;
      cursor: pointer;

      &::-webkit-calendar-picker-indicator {
        background: url("../../images/icons/calendar.ico");
        width: 28px;
        height: 28px;
        margin-right: 10px;
        cursor: pointer;
      }

      &::-webkit-datetime-edit {
        color: red;
      }
    }

    &_separator {
      margin-left: 5px;
    }

    &_time {
      display: inline-block;
      width: 40%;
      margin-left: 5px;

      input {
        display: inline-block;
        width: 45%;
        border: none;
        height: 30px;
        padding: 10px;
        margin-left: 5px;
        font-size: 0.7rem;
        text-align: center;

        &::-webkit-inner-spin-button {
          display: none;
        }
      }
    }
  }

  .create_btn {
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 300;
    border-radius: 5px;
    background-color: #024c02;
    max-width: 8rem;
    width: 8rem;
    border: none;
    color: $fontColor;
    transition: 0.2s linear;

    &:hover {
      opacity: 0.8;
    }
  }
}
//\\================//\\================//\\================//\\
// .categories_buttons_list {
//   margin-top: 15px;
//   display: flex;
//   flex-wrap: wrap;
//   list-style-type: none;

//   button {
//     margin-right: 15px;
//     padding: 10px;
//     border: none;
//     background-color: transparent;
//     font-size: 0.7rem;
//     font-weight: 400;

//     &:hover {
//       opacity: 0.5;
//     }
//   }
// }

//==================================================
//Delete-List
//==================================================

.delete_list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

  .list_item {
    border: 1px solid black;
    font-size: 0.7rem;
    padding: 12px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    min-width: 75px;
    text-align: center;
    border-radius: 10px;

    &_delete_icon {
      display: none;
      position: absolute;
      top: 10px;
      left: 40%;
      color: red;
    }

    &:hover {
      border: 1px solid red;
      opacity: 0.7;
      transition: 0.4s linear;

      .list_item_delete_icon {
        display: block;
      }
    }
  }
}
//\\================//\\================//\\================//\\
