@import "../../scss/variables";

.add_tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  &_error_message {
    font-size: 0.7rem;
    color: $fontColor;
    background-color: red;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  &_text {
    margin: 0.75rem auto;
    margin-top: 1rem;
    width: 80%;
    font-size: 0.7rem;
    padding: 0.5rem;
    border-radius: 3px;
    text-align: center;
  }

  .data_input_group {
    margin-top: 0.5rem;
    border-bottom: 1px solid #32393c;
    width: 80%;
    display: flex;

    &_date {
      width: 50%;
      height: 1.6rem;
      font-size: 0.7rem;
      text-align: center;
      display: inline-block;
      border: none;
      cursor: pointer;
      position: relative;

      &::-webkit-calendar-picker-indicator {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        cursor: pointer;
        z-index: 2;
        background: transparent;
      }

      &::after {
        content: attr(data-date);
        width: 1.1rem;
        height: 1.1rem;
        font-size: 0.7rem;
        position: absolute;
        right: 16px;
        border: 2px solid grey;
        border-radius: 50%;
        padding: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }

      &::-webkit-datetime-edit {
        color: white;
      }
    }

    &_separator {
      margin-left: 0.2rem;
    }

    &_clear_time {
      margin-left: 0.3rem;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }

    &_time {
      width: 40%;
      margin-left: 5px;
      display: inline-flex;
      align-items: center;

      input {
        display: inline-block;
        width: 45%;
        border: none;
        height: 30px;
        padding: 10px;
        margin-left: 5px;
        font-size: 0.7rem;
        text-align: center;

        &::-webkit-inner-spin-button {
          display: none;
        }
      }
    }
  }

  .create_btn {
    padding: 0.2rem;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: 300;
    border-radius: 5px;
    background-color: #023202;
    max-width: 6rem;
    width: 6rem;
    border: none;
    color: $fontColor;
    transition: 0.2s linear;
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }
  }
}

.delete_list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;

  .list_item {
    border: 1px solid black;
    font-size: 0.7rem;
    padding: 6px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    min-width: 75px;
    text-align: center;
    border-radius: 10px;

    &_delete_icon {
      display: none;
      position: absolute;
      top: 10px;
      left: 40%;
      color: red;
    }

    &:hover {
      border: 1px solid red;
      opacity: 0.7;
      transition: 0.4s linear;

      .list_item_delete_icon {
        display: block;
      }
    }
  }
}
