//-------------------Font-size
$defaultFontSize: 20px;
$fontColor: white;
$htmlBackgroundColor: #202125;
$fontSizeLink: 0.7rem;
//------------------Font-size////

//----------------Colors

$accent: #5f4533;
$dark: #212121;
$light: #f9f6f1;
$gray: #cbcfd4;
$light-gray: #f4f4f4;
$important: #d84033;
$green: #008000;
$red: red;
//----------------Colors////

//---------CALENDAR_COLORS

// $calendarBackground: #222227;
$calendarBackground: white;
$calendarBackgroundShadow: #0006;
$calendarMonthBackground: #167e56;
$calendarBodyBackgroundShadow: #00000080;
$dark-gray: #777;
$calendarHoverBackground: #262626;

//---------CALENDAR_COLORS////
