@import "variables";
@import "mixins";

.item {
  width: 50%;
}

* {
  box-sizing: border-box;
  font-size: $defaultFontSize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: $defaultFontSize;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  @include breakpoint(lg) {
    font-size: 18px;
  }
  @include breakpoint(sm) {
    font-size: 16px;
  }
}

input {
  outline: none;
  background: #181a1b;
  border: 1px solid #32393c;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: $fontColor;
  background: linear-gradient(90deg, #000, #230b10, #331016, #230b10, #000);
}

main {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
}

.error_text {
  color: red;
  font-weight: 700;
  font-size: 0.6rem;
}

.error-message {
  font-size: 0.75rem;
  font-weight: 600;
  color: gray;
  display: block;
  margin: 0 auto;
  text-align: center;
}

$fontSizeLink: 0.8rem;
$ready_tasks: green;
$current-tasks: #e91e33;
$category_work: #2196f3;
$category_shopping: yellow;
$category_personal: #673ab7;
$category_health: orange;
$red: #f45e61;

.color {
  &-yellow {
    color: #ff0;
    background-color: #ff0;
  }

  &-blue {
    color: #00f;
    background-color: #00f;
  }

  &-orange {
    color: #ff3c00;
    background-color: #ff3c00;
  }

  &-gray {
    color: #545b5e;
    background-color: #545b5e;
  }

  &-violet {
    color: #800080;
    background-color: #800080;
  }

  &-gold {
    color: #ffd700;
    background-color: #ffd700;
  }

  &-tomato {
    color: #ff6347;
    background-color: #ff6347;
  }

  &-teal {
    color: #008080;
    background-color: #008080;
  }

  &-brown {
    color: #a52a2a;
    background-color: #a52a2a;
  }

  &-pink {
    color: #ffc0cb;
    background-color: #ffc0cb;
  }

  &-lime {
    color: #0f0;
    background-color: #0f0;
  }
}

.circle {
  border-radius: 50px;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}
