@import "variables";
@import "mixins";
@import "fonts";

.item {
  width: 50%;
}

* {
  box-sizing: border-box;
  font-size: $defaultFontSize;
}

html {
  font-size: $defaultFontSize;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  // background: $htmlBackgroundColor;
  color: $fontColor;
  // background: linear-gradient(171deg, #121212, #181818);
  // background: linear-gradient(171deg, #121212, #181818);
  background: linear-gradient(90deg, #000, #230b10, #331016, #230b10, #000);
  background: linear-gradient(90deg, #000, #230b10, #331016, #230b10, #000);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
  // height: 100vh;
}

.disabled {
  opacity: 0.5;
  cursor: none;

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    margin-top: 4px;
    display: block;
  }
}

.error-message {
  font-size: 0.8rem;
  color: red;
  display: block;
  margin: 0 auto;
  text-align: center;
}

$fontSizeLink: 0.8rem;
$ready_tasks: green;
$current-tasks: #e91e33;
$category_work: #2196f3;
$category_shopping: yellow;
$category_personal: #673ab7;
$category_health: orange;
$red: #f45e61;

.color {
  &-green {
    color: #008000;
    background-color: #008000;
  }

  &-yellow {
    color: #ff0;
    background-color: #ff0;
  }

  &-blue {
    color: #00f;
    background-color: #00f;
  }

  &-orange {
    color: #ff3c00;
    background-color: #ff3c00;
  }

  &-gray {
    color: #545b5e;
    background-color: #545b5e;
  }

  &-red {
    color: #f00;
    background-color: #f00;
  }

  &-violet {
    color: #800080;
    background-color: #800080;
  }
}

.circle {
  border-radius: 50px;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}
