@import "variables";
@import "mixins";
@import "fonts";

.item {
  width: 50%;
}

html {
  font-size: $defaultFontSize;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  // background: #202125;
  background: white;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
  height: 100vh;
}

.disabled {
  opacity: 0.5;
  cursor: none;

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
}

.error-message {
  font-size: 0.8rem;
  color: red;
  text-align: center;
}

$fontSizeLink: 0.8rem;
$ready_tasks: green;
$current-tasks: #e91e33;
$category_work: #2196f3;
$category_shopping: yellow;
$category_personal: #673ab7;
$category_health: orange;
$red: #f45e61;

.color {
  &-green {
    color: #008000;
    background-color: #008000;
  }

  &-yellow {
    color: #ff0;
    background-color: #ff0;
  }

  &-blue {
    color: #00f;
    background-color: #00f;
  }

  &-orange {
    color: #ff3c00;
    background-color: #ff3c00;
  }

  &-gray {
    color: #545b5e;
    background-color: #545b5e;
  }

  &-red {
    color: #f00;
    background-color: #f00;
  }

  &-violet {
    color: #800080;
    background-color: #800080;
  }
}

.circle {
  border-radius: 50px;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}

/* ----------------------------*\
	<NAV_COMPONENT>
\*---------------------------- */
.nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: black;
    font-size: $fontSizeLink;
  }

  a:hover {
    color: red;
  }
}

/* ----------------------------*\
	</NAV_COMPONENT>
\*---------------------------- */

/* ----------------------------*\
	<HEADER_COMPONENT>
\*---------------------------- */
.header-title {
  display: flex;
  justify-content: space-between;
  // a {
  //   letter-spacing: 0.2em;
  //   border: none;
  //   background-color: transparent;
  //   font-size: 0.65rem;
  //   text-align: center;
  //   color: white;
  //   cursor: pointer;
  //   max-width: 150px;
  //   width: 100%;
  //   outline: 3px solid;
  //   outline-color: white;
  //   // outline-offset: 2px;
  //   transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  // }
  &-time {
    margin-top: 20px;
  }

  a:hover {
    color: #477ee8b3;
    outline-color: #477ee800;
    outline-offset: 50px;
  }
}

.header-subtitle {
  font-size: 0.7rem;
}

/* ----------------------------*\
	</HEADER_COMPONENT>
\*---------------------------- */

/* =========================================================
	<ADD_TASK_PAGE>
=========================================================== */
// .add-tasks {
//   margin: 20px auto;
//   width: 95%;
//   border-bottom: 1px solid lightgray;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 20px;
//   &-text {
//     border: 1px solid lightblue;
//     margin-top: 10px;
//     width: 70%;
//     font-size: 0.9rem;
//     padding: 10px;
//     border-radius: 10px;
//   }
// }

// .data-input-group {
//   border-bottom: 1px solid lightgray;
//   margin-top: 25px;
//   width: 60%;
//   font-size: 1rem;
//   &-date {
//     width: 45%;
//     height: 20px;
//     border: none;
//     display: inline-block;
//     padding: 10px;
//   }
//   &-separator {
//     margin-left: 5px;
//   }
//   &-time {
//     display: inline-block;
//     width: 45%;
//     margin-left: 5px;
//     input {
//       display: inline-block;
//       width: 20%;
//       border: none;
//       height: 20px;
//       padding: 10px;
//       margin-left: 5px;
//     }
//   }
// }

// .categories-buttons {
//   margin-top: 15px;
//   button {
//     margin-right: 10px;
//     padding: 10px;
//     border: none;
//     border-radius: 10px;
//     font-size: 0.7rem;
//     font-weight: 700;
//     color: rgb(19, 17, 17);
//     &:hover {
//       opacity: 0.5;
//     }
//   }
// }

.crete-categories {
  // box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 50px;

  h3 {
    text-align: center;
  }

  &-input-group {
    margin-top: 20px;
    padding: 10px;
    text-align: center;

    input {
      height: 20px;
      width: 45%;
      font-size: 0.8rem;
      border: 1px solid lightblue;
      padding: 10px;
      border-radius: 10px;
    }
  }
}

.crete-categories-colors {
  margin-right: 25px;
  display: flex;
  list-style-type: none;
  justify-content: center;

  &-name {
    margin-top: 9px;
    margin-right: 10px;
  }

  .crete-categories-color-item {
    width: 25px;
    height: 25px;
    font-size: 0;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: 0.3s linear;
  }

  .crete-categories-color-item:hover {
    opacity: 0.5;
  }

  .crete-categories-color-item.active {
    transform: translateY(-10px);
    transition: 0.5 linear;
  }
}

.create-buttons {
  // &-btn {
  //   background: none;
  //   display: block;
  //   margin: 0 auto;
  //   border-radius: 5px;
  //   border: 0;
  //   padding: 1em 2em;
  //   box-shadow: inset 0 0 0 1px $red;
  //   color: black;
  //   font-size: 0.8rem;
  //   font-weight: 400;

  //   // Required, since we're setting absolute on pseudo-elements
  //   position: relative;
  //   // vertical-align: middle;

  //   &::before,
  //   &::after {
  //     box-sizing: inherit;
  //     content: "";
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }

  &-btn {
    transition: color 0.25s;
    margin-top: 20px;

    &::before,
    &::after {
      // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
      border: 1px solid transparent;
      width: 0;
      height: 0;
    }

    // This covers the top & right borders (expands right, then down)
    &::before {
      top: 0;
      left: 0;
    }

    // And this the bottom & left borders (expands left, then up)
    &::after {
      bottom: 0;
      right: 0;
    }

    &:hover {
      color: green;
    }

    // Hover styles
    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }

    &:hover::before {
      border-top-color: black; // Make borders visible
      border-right-color: black;
      border-radius: 5px;
      transition: width 0.25s ease-out,
        // Width expands first
        height 0.25s ease-out 0.25s; // And then height
    }

    &:hover::after {
      border-bottom-color: black; // Make borders visible
      border-left-color: black;
      border-radius: 5px;
      transition: border-color 0s ease-out 0.5s,
        // Wait for ::before to finish before showing border
        width 0.25s ease-out 0.5s,
        // And then exanding width
        height 0.25s ease-out 0.75s; // And finally height
    }
  }
}

/* =========================================================
	</ADD_TASK_PAGE>
=========================================================== */

// .dropdown {
//   width: 10.5em;
//   margin: 0 auto;
//   &-header {
//     margin-bottom: 0.8em;
//     padding: 0.4em 2em 0.4em 1em;
//     box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
//     font-weight: 500;
//     font-size: 1rem;
//     color: #3faffa;
//     background: #fff;
//   }
//   &-list {
//     padding: 0;
//     margin: 0;
//     padding-left: 1em;
//     background: #fff;
//     border: 2px solid #e5e5e5;
//     box-sizing: border-box;
//     color: #3faffa;
//     font-size: 0.7rem;
//     font-weight: 500;
//     &:first-child {
//       padding-top: 0.8em;
//     }
//     &-item {
//       list-style: none;
//       margin-bottom: 0.8em;
//     }
//   }
// }

.ready {
  font-family: cursive;
  color: #008000;
  position: absolute;
  left: 50%;
  font-size: 24px;
  font-weight: 900;
  z-index: 2;
}
